name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python  ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version:  ${{ matrix.python }}
          cache: pip
          cache-dependency-path: "requirements.txt"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r "requirements.txt"
      
      - name: Lint
        run: flake8 . || echo 'No flake8 config'
      - name: Test
        run: pytest
      - name: Build
        run: python -m build || python setup.py sdist
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist/


